body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.col-1 {width: 50%;}
.col-2 {width: 50%;}