/*
color scheme ideas (supercedes current scheme):
    HIGHLIGHTS -- blue: #006699, pink: #FF0066, green: #FF0066, orange: #FF6633, yellow: #FF9933
    (build subtles from here)

*/

body {

  margin: auto;
  width: 100%;
  font-family: sans-serif;
  text-align:center;
  align: middle;
}
.none {
  background-color: var(--none);
}

.jazz {
  background-color: var(--lounge1);
}
.funk {
  background-color: var(--funk1);
}
.latin {
  background-color: var(--latin1);
}

.col img {
  height:200px;
  width:100%;
}
.table {
    text-align:center;
    margin: 0 auto;
    display:  table;
    width: 100%;
    top: 40px; /* Header Height */
    bottom: 20px; /* Footer Height */
}
.row {
  text-align:center;
	display:flex;
  box-sizing: border-box;
  flex-direction: row;
  width: auto;
  padding: 1%;
  line-height: 100%;
}
.row form {
  width: 100%;

}

.col {
  background-color: rgba(255,255,255,.4);
  box-sizing: border-box;
  box-shadow: grey 0px 1px 5px;
  /*border:1px solid  #333;*/
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 1%;
	line-height: 100%;

}

.col audio {
  width: 100%;
  /*
  visibility: hidden;
  */
}
