/*
ATTN: KATE
This file should be called musicalAccompaniment.css or have its contents in App.js
Which do you prefer?
*/

body {

  margin: auto;
  width: 100%;
  font-family: sans-serif;
  text-align:center;
  align: middle;
}
.none {
  background-color: var(--none);
}

#musicnotes::after {
    content: " 🎵";
}

.jazz {
  background-color: var(--lounge1);
}
.funk {
  background-color: var(--funk1);
}
.latin {
  background-color: var(--latin1);
}

.col img {
  height:200px;
  width:100%;
}
.table {
    text-align:center;
    margin: 0 auto;
    display:  table;
    width: 100%;
    top: 40px; /* Header Height */
    bottom: 20px; /* Footer Height */
    background: rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 12px #555;
}
@media only screen and (min-width:600px) {
  .table {
    width: 75%;
  }
}

.row {
  text-align:center;
	display:flex;
  box-sizing: border-box;
  flex-direction: row;
  width: auto;
  padding: 1%;
  line-height: 100%;
}
.row form {
  width: 100%;

}

.col {
  background-color: rgba(255,255,255,.4);
  box-sizing: border-box;
  box-shadow: grey 0px 1px 5px;
  /*border:1px solid  #333;*/
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 1%;
	line-height: 100%;

}

.table img {
  background: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 12px #555;
}

.col audio {
  width: 100%;
  /*
  visibility: hidden;
  */
}
